<!DOCTYPE html>
<html>
    <head>
        <title>bSpy</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
            
        <div class="container home">
            <div class="row center-align">
                <br>
                <h3 class="thin">Imagens Salvas</h3>
            </div>
            
            </br>
            <div class="center-align">
                <% @images.each do |image| %>
                    <div class="row col s4">
                        <div class="col s4">
                            <div class="card">
                                <div class="card-image">
                                    <%= link_to mostrar_path(image) do %>
                                        <%= image_tag url_for(:controller => "imagens", :action => "show_image", :id => image.id, :size => "300x200") %>
                                    <% end %>
                                    <span class="card-title"><%= image.name %></span>
                                </div>
                                <div class="card-content">
                                    <p><%= image.data_de_criacao %></p>
                                </div>
                                <div class="card-action">
                                    <%= link_to 'Editar', {action: :edit, id: image.id}, method: :get %>
                                    <%= link_to 'Deletar', { action: :destroy, id: image.id }, method: :delete%>

                                </div>
                            </div>
                        </div>
                    </div>
                <%end%>
            </div>
            <hr>
            <div class="container">
                <br>
                <h6 class = "thin">Pesquisa por data</h6>
                <!-- <input type="text" style="display:none;" id="datainput"/> -->
                <%= form_for Image.new, url: {action: "pesquisarData"},html:{method:"get"} do |f| %>
                    <div class="row col s6">
                        <%=f.text_field :data_de_criacao, class: "datepicker" %>
                    </div>
                    <div class="row actions center-align">
                        <%= f.submit 'Enviar',:class=>"btn waves-effect waves-light" %>
                    </div>
                <% end %>
            </div>
            <div class="container">
                <br>
                <h6 class = "thin">Pesquisa por local</h6>
                <%= form_for Image.new, url: {action: "pesquisarLocal"},html:{method:"get"} do |f| %>
                    <div class="row col s6">
                        <%= f.text_field :local %>
                    </div>
                    <div class="row actions center-align">
                        <%= f.submit 'Enviar',:class=>"btn waves-effect waves-light" %>
                    </div>
                <% end %>
            </div>
            <div class="container">
                <br>
                <h6 class = "thin">Pesquisa por câmera</h6>
                <%= form_for Image.new, url: {action: "pesquisarCamera"},html:{method:"get"} do |f| %>
                    <div class="row col s6">
                        <%= f.text_field :cameraid %>
                    </div>
                    <div class="row actions center-align">
                        <%= f.submit 'Enviar',:class=>"btn waves-effect waves-light" %>
                    </div>
                <% end %>
            </div>
        </div>
    </body>
</html>