<div class="container">
<p>
  <strong>Imagem</strong>
  <div class="row col s4">
  	<div class="col s4">
  	    <div class="card">
  	        <div class="card-image">
  	            <%= link_to mostrar_imagen_path(@image) do %>
  	                <%= image_tag url_for(:controller => "imagens", :action => "show_image", :id => @image.id, :size => "300x200") %>
  	            <% end %>
  	            <span class="card-title"><%= @image.name %></span>
  	        </div>
  	        <div class="card-content">
  	            <p><%= @image.data_de_criacao %></p>
  	        </div>
  	        <div class="card-action">
  	        </div>
  	    </div>
  	</div>
 </div>
</p>
<%= link_to 'Back', imagens_path %>
</div>
