<!DOCTYPE html>
<html>
    <head>
        <title>bSpy</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
            
            <div class="row">
                <br><br>
                <h4 class="light center-align">Imagens Salvas</h4>
            </div>
            
            </br>
            <div class="container home">
                <% @images.each do |image| %>
                    <div class="row col s4">
                        <div class="col s4">
                            <div class="card">
                                <div class="card-image">
                                    <a id="single_image" href="<%url_for(:controller => "imagens", :action => "show_image", :id => image.id, :size => "300x200")%>">
                                    <%= image_tag url_for(:controller => "imagens", :action => "show_image", :id => image.id, :size => "300x200") %>
                                    </a>
                                    <span class="card-title"><%= image.name %></span>
                                </div>
                                <div class="card-content">
                                    <p><%= image.data_de_criacao %></p>
                                </div>
                                <div class="card-action">
                                </div>
                            </div>
                        </div>
                    </div>
                <%end%>
                <hr>
                <div class="col s8">
                    <h3>Pesquisa por data</h3>
                    <!-- <input type="text" style="display:none;" id="datainput"/> -->
                    <%= form_for Image.new, url: {action: "pesquisarData"} do |f| %>
                        <%= f.text_field :data_de_criacao, class: "datepicker" %>
                        <%= f.submit 'Enviar',:class=>"btn waves-effect waves-light" %>
                    <% end %>
                </div>
            </div>
    </body>
</html>