<!DOCTYPE html>
<html>
<head>
  <title>bSpy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>    
  <%= stylesheet_link_tag "app.generic" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul id="dropdown1" class="dropdown-content">
<!--   <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li> -->
</ul>

<div class="navbar-fixed">
    <nav class = " blue-grey lighten-5">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center condensed light black-text thin">bSpy</a>
            <% if user_signed_in? %>
            <ul class="left hide-on-med-and-down">
                <li><a href="/home" class="black-text thin">Home</a></li>
                <li><a href="#" class="black-text thin">Perfil</a></li>
                <li><a href="/imagens" class="black-text thin">Imagens</a></li>
                <li><a class="dropdown-button black-text thin" href="#" data-activates="dropdown1">Admin<i class="material-icons right"><!-- arrow_drop_down --></i></a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><div class="black-text thin" style="padding-right:30px"><%= current_user.name %></div></li>
                <li><%= link_to "Logout", destroy_user_session_path, :method => :delete , :class => "black-text thin right" %></li>
            <% end %>
        </div>
    </nav>
</div>
<% if user_signed_in? %>
    <div class="descricao_pag   brown lighten-5">
        <div class="container">
            <div class="row">
                <br><br><br><br><br>
                <div class="col s6 offset-s3">
                    <h5 class="black-text condensed light center-align ">bSpy - Sistema de monitoramento</h5>
                    <p class="black-text condensed light center-align">Sempre te manterá seguro!</p>
                </div>

            </div>
            <div class="row">
                <br>
                <div class="col s6 offset-s3">
                    <p class="condensed light center-align ">__________________________________________</p>
                </div>
            </div>
        </div>

    </div>
<% end %>

<!-- <nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a class="navbar-brand" href="/home" style="color:white;">bSpy</a>
  </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-01" style="background: #4682B4;">
      <ul class="nav navbar-nav">
        
        <li><a href="/imagens" style="color:white;">Imagens</a></li>

        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color:white;">
              Admin <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" style="background: #4682B4;">
              <li><a href="/users" class="blue_menu">Usuários</a></li>
            </ul>
          </li>
      </ul>
    </div>
</nav> -->

<%= yield %>





    <!-- footer class="page-footer  grey lighten-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </div>
</footer> -->

</body>
</html>