<% if can? :manage, User %>
<p id="notice"><%= notice %></p>
<p>
  <strong>Nome:</strong>
  <%= @user.name %>
</p>
<p>
	<strong>Email:</strong>
	<%= @user.email %>
</p>

<p>
	<strong>Perfil:</strong>
	<%= @user.profile.name %>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<% end %>
