<div class="container">
    <br>
    <div class="row center-align">
        <h3 class="thin">Log in</h3>
    </div>
    <div class="">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'valign'}) do |f| %>
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <%= f.label :email, :for =>"email_field" %>
                    <%= f.email_field :email, autofocus: true, :class => "validate", :id =>"email_field" %>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 offset-s3">
                    <%= f.label :password, :for =>"pass_field"%>
                    <%= f.password_field :password, autocomplete: "off",:id=>"pass_field" %>
                </div>
            </div>
            <div class="row center-align">
            <% if devise_mapping.rememberable? -%>
                <div class="input-field">
                    <%= f.check_box :remember_me, :type=>"checkbox", :id=>"check" %>
                    <%= f.label :remember_me, :for=>"check" %>
                </div>
            <% end -%> 
            </div >

            <div class="actions center-align">
                <%= f.submit "Log in", :class=>"waves-effect waves-light btn" %>
            </div>
            <br>
            
            <div class = "row center-align">
                <%= render "devise/shared/links" %>
            </div>
        <% end %>
    </div>
</div>
